.navbar {
    width: 100%;
    max-width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #f0dff2;
    /* background-color: rgb(198, 174, 220); */
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar .header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar .header .logo{
    /* background-image: url("../Landing/img/grid.jpg"); */
    width: 100px;
    margin-right: 600px;
    margin-left:65px;
}
.navlinks-div{
    display: flex;
    justify-content: space-evenly;
}
.navlinks{
    padding-right: 100px;
}